.header {
  width: 100%;
  background: var(--color-dark-blue);
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.header__logo img {
  pointer-events: none;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

  list-style: none;
}

.main {
  min-height: 100vh;
  font-family: var(--font-base);
  background: var(--color-blue);
  color: var(--color-white);
}

.navbar_smallscreen {
  display: none;
}

.navbar_smallscreen__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background: var(--color-dark-blue);
  transition: 0.5s ease;
  overflow: hidden;

  flex-direction: column;
}

.navbar_smallscreen .overlay__open {
  cursor: pointer;
  font-size: 30px;
  color: var(--color-white);
}

.navbar_smallscreen__overlay .overlay__close {
  font-size: 30px;
  color: var(--color-white);
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.navbar_smallscreen__links {
  list-style: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar_smallscreen__links li {
  margin: 1rem;
  cursor: pointer;
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

@media screen and (max-width: 1100px) {
  .navbar__links {
    display: none;
  }

  .navbar_smallscreen {
    display: flex;
  }
}

.slide_bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
