.header {
  width: 100%;
  background: var(--color-dark-blue);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 40px;
  pointer-events: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 60px;
  padding: 1rem;
}
