.nav {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  background: darkblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: #fff;
}
.main {
  margin-top: 60px;
  padding: 1rem;
}