.switcher_wrapper {
  cursor: pointer;
  transition: background 0.2s linear;
  display: flex;
  align-items: center;
}

.switcher {
  cursor: pointer;
  color: var(--color-text);
  transition: opacity 0.2s linear;
}

.switcher:hover {
  opacity: 0.7;
}

.light {
  border-radius: 50%;
  font-size: 35px;
}

.dark {
  border-radius: 50%;
  font-size: 30px;
}
