.theme_switcher {
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: var(--color-button-text);
  background: var(--color-button-bg);
  transition: opacity 0.2s linear;
}

.switcher_light {
  cursor: pointer;
  font-size: 28px;
  color: var(--color-text);
}

.switcher_dark {
  cursor: pointer;
  font-size: 25px;
  color: var(--color-text);
}
