.switcher_wrapper {
  padding: 0.2rem;
  cursor: pointer;
  transition: background 0.2s linear;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.switcher {
  cursor: pointer;
  color: var(--color-text);
}

.switcher_wrapper:hover {
  background: var(--color-icon-hov);
}

.light {
  border-radius: 50%;
  font-size: 35px;
}

.dark {
  border-radius: 50%;
  font-size: 35px;
}
