.input {
  color: var(--color-text);
  border: none;
  background: var(--color-main-bg);
  outline: none;
  margin: 0.5rem 0;
  max-width: 300px;
  border-bottom: 1px solid var(--color-text);
  font-size: 16px;
}
